__pycache__
.vscode
app/__pycache__
venv
venv_ns
test.py
test1.py
test2.py
test3.py
test.txt
annotations.rd
text.txt
monitor_opt.py
db/
db_old.py
log.txt
db.pyc
iofunctions.pyc
PyWhatKit_DB.txt
app/db/*
!app/db/init_db.py
!app/db/fullpvlist.sql
.conda_envs_dir_test
requirements_old.txt
migrations_old
