alembic==1.7.7
Flask==2.0.3
Flask_Login==0.5.0
Flask_Migrate==4.0.1
Flask_SQLAlchemy==2.5.1
Flask_WTF==1.0.1
num2words==0.5.13
phonenumbers==8.13.30
psutil==5.9.7
pyepics==3.5.2
pyserial==3.5
pywhatkit==5.4
Requests==2.32.3
SQLAlchemy==1.4.51
urllib3==1.26.18
Werkzeug==2.0.3
WTForms==3.0.0
